{% extends 'base.html' %}
{% block content %} 
<header>
    <h3>Please fill out this form</h3>
</header> 
    <div class="fontsize">
        <form method="post" action="/create-post/">
                <input type="hidden" id="post_id" name="post_id" value="">
                <label for="desc" class="required">desctiption</label>
                <input required type="text" id="desc" name="desc"><br>

                <label for="tags">tags</label>
                <select id="tags" name="tags" multiple>
                    {% for tag in tags %}
                        <option value="{{tag[1]}}">{{tag[1]}}</option>
                    {% endfor %}
                </select><br>
                <div style="text-align: center;">
                    <a href="/add-tag/"
                      ><button type="button" class="btn btn-primary btn-lg">
                        Add some tags
                      </button></a>
                  </div>
                <input type="submit" value="post">
        </form>
    </div>    
{% endblock %}