{% extends 'base.html' %}
{% block content %}   
    <table>
    <h2 style="text-align: center; color: rgb(243 76 76);
                ">Are you shure you wannd delete theis user?!</h2>
        <tr>
            <th>User_id</th>
            <th>Username</th>
            <th>Email</th>
        </tr>
        <tr>
            <td>{{ id }}</td>
            <td>{{ user[0] }}</td>
            <td>{{ user[1] }}</td>
            
        
    </table>
    <div style="text-align: center;">
        <form method="POST" action="/delete/{{ id }}/">
            <td>
                <input type="submit" value="Yes Delete it">
            </td>
        </form>
    </div>
{% endblock %}