{% extends 'base.html' %}
{% block header %} <h1>login page</h1>{% endblock %}
{% block content %}  
<body class="fontsize">
    <div>
        {% if errors %}
            {% for error in errors %}
                <h3 class="error">{{ error }}</h3>
            {% endfor %}
        {% endif %}
        <form method="POST" action="/login/">
            <input required type="text" id="username" name="username" placeholder="username"><br>
            <input required type="text" id="password" name="password" placeholder="password" ><br>
            <input type="submit" value="Login">
        </form>
        you forgot your password? <a href="/check-password/">Reset password</a>
    </div>    
</body>
{% endblock %}