{% extends 'base.html' %}
{% block header %} <h1>posts</h1> {% endblock %}
{% block content %}  
        {% if session.username %}
            <body class="fontsize">
                <div id="posts">
                  {% for post in posts %}
                  <div class="card border-dark">
                    <div class="card-header d-flex justify-content-between align-items-center">
                      <a href="/posts/post.user.username">post.user.username</a>
                      <div class="btn-group">
                        <button
                          type="button"
                          class="btn btn-sm btn-primary dropdown-toggle"
                          data-bs-toggle="dropdown"
                        >Delete</button>
                        <ul class="dropdown-menu">
                          <li>
                            <a href="/delete-post/{{post[0]}}/" class="dropdown-item">Delete</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="card-body">
                      <div class="card-text">{{ post[1] }}</div>
                    </div>
                    <div class="card-footer text-muted">
                        {% for tag in tag_dict %}
                          {% for tags in post_tags[post[0]] %}
                            {% if tag == tags[0] %}
                              #{{ tag_dict[tags[0]] }}<br>
                            {% endif %}
                          {% endfor %}
                        {% endfor %}
                    </div>
                  </div>
                  <br/> {% endfor %}
                </div>
                {% block footer %}
                <div align="center">
                  <a href="/create-post"
                    ><button type="button" class="btn btn-primary btn-lg">
                      Create a Post
                    </button></a>
                </div>
                {% endblock %}  
            </body>    
        {% endif %}
{% endblock %}