{% extends 'base.html' %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>reset-password</title>
</head>

<body>
    <div>
        {% if errors %}
            {% for error in errors %}
                <h3 style="
                color: rgb(228, 228, 228);
                background: #d03c3c !important;
                padding: 10px !important;
                border-radius: 0 !important;
                position: relative; 
                display: inline-block !important;
                box-shadow: 2px 2px 2px #919191;
                margin-top: 10px;">{{ error }}</h3>
            {% endfor %}
        {% endif %}
        <form method="POST" action="/reset_password/">
            <input required type="text" id="email" name="email" placeholder="email">
            <input required type="password" id="old-password" name="old-password" placeholder="old password">
            <input required type="password" id="new-password" name="new-password" placeholder="new password"><br>
            <input required type="password" id="confirm_password" name="confirm_password" placeholder="confirm password" ><br>    
            <input type="submit" value="Reset">
        </form>
    </div>
</body>
{% endblock %}