{% extends 'base.html' %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>reset-password</title>
</head>

<body>
    <div>
        {% if errors %}
            {% for error in errors %}
                <h3 class="error">{{ error }}</h3>
            {% endfor %}
        {% endif %}
        <form method="POST" action="/check-password/">
            <input required type="text" id="email" name="email" placeholder="email">
            <input required type="password" id="old-password" name="old-password" placeholder="old password">
            <input required type="password" id="new-password" name="new-password" pattern="[a-zA-Z0-9@#$%^&+=]{8,}" title="must be at least 8 characters" placeholder="new password"><br>
            <input required type="password" id="confirm_password" name="confirm_password" placeholder="confirm password" ><br>    
            <input required type="submit" value="Continue">
        </form>
    </div>
</body>
{% endblock %}